# Drop all library binaries
*.a
*.so

# Ignore build dir
build/
**/releasePackages
releasePackages/
**/target


**/*.sh

**/*.log
*.log
*.png
.checkstyle
**/.checkstyle
**/.pmd
.pmd
**/*.png
.project
**/.project
**/.gitignore
**/*.doxyfile
*checkstyle*
**/*checkstyle*
.settings
**./settings
**./classpath
.classpath
.DS_Store
**/.DS_Store
.log
**/.log


**/html/

Thumbs.db
